.tableContainer {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

table {
    width: 90%;
    border: 1px solid black;
}

th {
    background-color: black;
    color: white;
}

td, th {
    width: 20%;
    text-align: center;
    font-family: var(--main-font-family);
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

button {
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
    width: 8em;
    height: 2em;
    border: none;
    font-size: 16px;
}

button:hover {
    background-color: var(--alternative-color);
    cursor: pointer;
}

table tr:nth-child(odd){
    background-color:var(--main-color);
}

table tr:nth-child(odd):hover{
    background-color:var(--alternative-color);
    color: white;
}

table tr:nth-child(even){
    background-color: lightgray;
}

table tr:nth-child(even):hover{
    background-color: gray;
    color: white;
}

tr { 
    cursor: pointer;
 }

 table a {
     text-decoration: none;
     color: black;
 }

 table a:hover {
    text-decoration: underline;
    color: white;
}

#deleteButton {
    width: 4em;
    height: 2em;
    background-color: red;
    color: white;
    padding: 0 5px;
}

#deleteButton:hover {
    transform: scale(0.9);
    background-color: rgb(155, 0, 0);
}

.pagesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20%;
    margin-top: 20px;
}

.page {
    border: none;
    background: none;
    color: var(--main-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    margin: 0 4px;
}

.page:hover {
    text-decoration: underline;
    color: var(--alternative-color);
    cursor: pointer;
}

