.rowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.appointmentContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    background-color: var(--main-color);
    border-radius: 20px;
    color: white;
    margin-top: 4%;
}

.profileContainer {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    background: url(../image/cardBackground.svg) top no-repeat;
    height: auto;
    position: relative;
    padding: 7% 0;
}

.appoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 768px) {
    .profileContainer {
        width: 100%;
    }
}

p {
    font-family: var(--main-font-family);
}

.returnButton {
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
}

.returnButton:hover {
    color: var(--alternative-color);
}

.modifyButton {
    position: absolute;
    top: 2%;
    right: 2%;
    border: none;
    background-color: var(--alternative-color);
    color: white;
    border-radius: 10px;
    height: 3em;
    width: 3em;
}

.modifyButton:hover {
    background-color: var(--main-color);
    cursor: pointer;
}

.deleteButton {
    position: absolute;
    top: 2%;
    left: 2%;
    border: none;
    background-color: var(--alternative-color);
    color: white;
    border-radius: 10px;
    height: 3em;
    width: 3em;
}

.deleteButton:hover {
    background-color: var(--main-color);
    cursor: pointer;
}

.colContainer {
    padding-top: 100px;
} 

p {
    font-size: 14px;
}

.confirm {
    margin-bottom: 16px;
}

#appoForm > input {
    color: black;
    width: 14em;
    height: 2em;
    font-size: 14px;
    margin: auto 0;
}

.confirm {
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
    width: 8em;
    height: 2em;
    border: none;
    font-size: 16px;
}
.confirm:hover {
background-color: var(--alternative-color);
cursor: pointer;
}

#appoForm > div {
    text-align: center;
    margin-top: 20px;
}

/* GEstion des erreurs du paramètre get */

#errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 20%;
    border-radius: 50%;
    background-color: var(--main-color);
    color: white;
    font-family: var(--main-font-family);
}

.innerContainer a {
    color: black;
    text-decoration: none;
}

.innerContainer a:hover {
    text-decoration: underline;
    cursor: pointer;
}